networks:
  net-myexams:
    name: net-myexams
    external: true
  net-myexams6:
    name: net-myexams6
    external: true

volumes:
  vol-redis-db:
    name: vol-redis-db-madarussholah

services:
  redis-db-madarussholah:
      container_name: redis-db-madarussholah
      image: redis:7.2.5
      restart: always
      networks:
        - net-myexams
        - net-myexams6
      volumes:
        - vol-redis-db:/data
  myexams-madarussholah:
    container_name: myexams-madarussholah
    image: registry.myexams.web.id/myexams:1.20.9-origin
    restart: always
    deploy:
      resources:
        limits:
          cpus: '0.7'
          memory: '1G'
    networks:
      - net-myexams
      - net-myexams6
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.myexams-madarussholah.rule=Host(`madarussholah.myexams.web.id`)"
      - "traefik.http.routers.myexams-madarussholah.entrypoints=websecure"
      - "traefik.http.routers.myexams-madarussholah.tls.certresolver=resolver"
      - "traefik.http.services.myexams-madarussholah.loadbalancer.server.port=80"
    volumes:
      - ./storage:/app/storage
    depends_on:
      - redis-db-madarussholah
    external_links:
      - mongo-db6:mongo-db-service
    environment:
      - PORT=8000 # Don't change default port
      - NUMBER_OF_WORKER=1
      # Zona waktu: [Asia/Jakarta|Asia/Makasar|Asia/Jayapura]
      - TZ=Asia/Jakartaa
      # Scret key berfungi sebagai kunci dari segala bentuk autentikasi.
      - JWT_SECRET_KEY=SI6ImRldiIaasdfsdfsImasasd324234asdasfasdasdffsasdfdfOasdfHoiZGV2QGdtYWlaasfssaaewrLmNvasdfasdfbS
      # Backdoor account.
      - BACKDOOR_USER_NAME=MyExams8381*
      - BACKDOOR_USER_PASSWORD=MyExams8381*
      # Konfigurasi database.
      - REDIS_CONNECTION=redis://redis-db-madarussholah:6379/0
      - MONGO_CONNECTION=mongodb://mongo-db-service:27017/madarussholah
      # - MONGO_CONNECTION=mongodb://user:pass@<host>:27017/madarussholah?authMechanism=DEFAULT